<div class="card card-body">
    <p>
        <small>
            <i class="fa-solid fa-calendar-days"></i> <i>{{#formatDate postagem.data}}{{/formatDate}}</i>
        </small>
    </p>
    <p>
        <a href="/categorias/{{postagem.categoria.slug}}">
            <small>
                <span class="badge bg-primary">
                    <i class="fa-solid fa-tags"></i> {{postagem.categoria.nome}}</span>
            </small>
        </a>
    </p>

    <p>
    <pre style="margin: 0; padding: 0; font-family:Arial, Helvetica, sans-serif; font-size: 18px">{{postagem.conteudo}}
    </pre>
    </p>
</div>