<div class="card card-body">
    <h1>Postagens Recentes:</h1>

    {{#each posts}}
    <h2>{{titulo}} </h2>
    <small>{{createdAt}}</small>
    <p>{{conteudo}} </p>
    <a href="/excluir/{{id}}" class="btn btn-danger">Excluir</a>
    <hr>
    {{/each}}
</div>